{% load news_extras %}

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="page-header col-sm-6">
    <h1><a href="/">Real Estate News Monitor</a></h1>
    <p>Keywords: Mapletree, Capitaland, Keppel | Source: Reuters, Bloomberg</p>
    <p>Monitoring range: Last 30 days | Date today: {% now "jS F Y" %}</p>
    <p>For enquiries or bug fixes: JTK</p>
</div>
<div class="news-body col-sm-12">
{% if output %}
    <ul>
    {% for item in output.posts %}
        <li><h4><a href="{{ item.url }}">{{ item.title }}</a></h4></li>
        <p>{{ item.crawled|cutDate }} | {{ item.thread.site }}</p>
        <p>{{ item.text|cutText }}</p>
    {% endfor %}
{% else %}
    <p>no news available</p>
{% endif %}
</div>